dist: trusty
sudo: false

language: scala

scala:
  - 2.12.6
  - 2.11.12

jdk: oraclejdk8

script: sbt ++$TRAVIS_SCALA_VERSION clean coverage test

after_success: sbt ++$TRAVIS_SCALA_VERSION coverageReport coveralls

notifications:
  slack:
    on_success: never
    on_failure: always
    rooms:
      secure: "SDuhYvjPRSnGqrm8/1RiBIy6vlqRmq+HhPfkNkpBT0NvGoPS0FYgFBUUNHa+FBrIlojcU4fkUiBUWsGjyT+6wzZ9XSHLrpcusID94ZOTHuKqXnCud0/PpLb9rsAe22xyLhS2Vh82yDvJzUQJH/N2BhlbDAmi9FLeupVy5YBrYJvT4nnne3koSsvs3c5zF0ZCDMkh+0YOjExH/k9nJoLUvHe25nkzjpLqikA+60woxeBvDUk3IxsmDGsUfcK7B5fOGtO7pPQ5qGUkSQnZW43W1N85txCpzl5UnhNlTblMULGjwbrqlAIXI4ofeZZfmbhU5Vk631vPEzwF8Ra2/Rh99ktl1YA0RgzIxk52Vn5/akGa5MMAxVCNyuTNJEj+fLMr+bgKmN7Ws4rj0lmaAet5tMIesmHx1t3Yp/YlOonADvKLi5EBG+pHJLVgrpKUug/0yODTnHTp4NYqN+NHiOuutXGyNyw1bbuPynY2bx1Jp6Rb9kPtwzyKmGygXn4texNAAF8+zqOOEkdWSdOe/+PPkoFddOKqPw7loUierLjiNJajUDiSet4+emhZN6w80bl1Ve1tuGkaQVk32u6Z6gZ8LLN4Ycq3ck7GCJ7kVHIH7KX34KzGaUUmHJHBmWl3N1uL7fz0DQOQ2Xgnjb4ZBGDzG3cskiC425Z+v+Pt4nPJ0jw="

cache:
  directories:
    - $HOME/.ivy2/cache
    - $HOME/.sbt

before_cache:
  - find $HOME/.ivy2/cache -name "ivydata-*.properties" -print -delete
  - find $HOME/.sbt        -name "*.lock"               -print -delete
